html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  border-bottom: 3px solid #8e4a32;
  border-top: 3px solid #8e4a32;
  background-image: url("../images/border-top.svg"), url("../images/border-bottom.svg"), url("../images/leaf-icon.svg");
  background-size: 2px 5px, 2px 5px, 18px auto;
  background-repeat: repeat-x, repeat-x, repeat;
  background-position: left top, left bottom, left top;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
